@charset "utf-8";
/*A zöld vonal oldalt, hogy mik azok amik új alakítások és még nincs mentve a gitre*/
body{
    background: gray;
}
main{
    background: pink;
}
main, header, nav, footer, article{
    border: 1px solid gray;
    padding: 5px;
    box-sizing: border-box; /*beleszámít az elem méretébe a border meg a padding is, DE a margó nem számít bele*/
}
header, nav, footer, article{
    background: white;
    margin: 5px;
}

main{
    display: flex;
    flex-wrap:wrap;/*megtöri a hosszú sorokat*/
    flex-direction: row;
    align-items: baseline; /*elemeken belüli tartalom elhelyezkedése*/
    justify-content: center;/*elemek elhelyezése*/
    align-content: stretch;
}
header, nav, footer{
    flex:0 0 100%; /*a 0-val engedélyezem az átméretezést*/
    /*width: 100%;*/
}
article{
    flex: 0 0 calc(33.33333% - 10px);/*kiszámolja a 33%-át*/
    /*width: calc(33.33333% - 10px);*/
}

main article:nth-child(5){
    color:red;
    order: -1;
}
header, nav{
    order: -10;
}